**/build
/captures
/app/fabric.properties
/app/development
/app/userTesting
/app/production
/.idea
*.ap_
*.apk
*.class
*.dex
*.iml
*.ipr
*.iws
*.log
*.o
*.so
*.swp
.DS_Store
.classpath
.externalNativeBuild
.externalToolBuilders
.gradle
.metadata
.project
.settings
.svn
Thumbs.db
build
bin
gen
projectFilesBackup
import-summary.txt
lint.xml
local.properties
project.properties
